{% extends "base.html" %} {% block head %}
<meta name="viewport" content="width=device-width" />
<div class="text-center main">
  <!--  <h1>Saint Gobain - Digital Swiss Knife</h1>-->

  <img
    src="{{url_for('static',filename='images/logo.png')}}"
    alt="Saint Gobain Logo"
    width="200px"
  />
  <div class="row front-heros">
    <div class="feature col-sm">
        <select name="Products Lind ID" onchange="window.location.href=this.options[selectedIndex].value">
        <option value="#"> Products Line ID </a></option>
        <option value="/PL1" >Products Line ID 1 </a></option>
        <option value="/PL2" selected>Products Line ID 2</a></option>
        <option value="/scan">Products Line ID 3</a></option>
        <option value="/scan">Products Line ID 4</a></option>
        <option value="/scan">Products Line ID 5</a></option>
      </select>
    </div>
    <div class="feature col-sm"><a href="/scan">Machine</a></div>
  </div>
</div>
{% endblock %}



