{% extends "base.html" %} {% block head %}
<title>Template</title>
{% endblock %} {% block body %}
<h1>Scan Records</h1>

{% if feature_download_csv %}

<a href="{{ url_for('download_csv') }}" style="background-color: #FFFFFF;
  color: #1C4184;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  height: 15%;
  width: 50%;
  border-radius: 25px;
  opacity: 0.5;" hover="opacity: 0.1"
   class="btn btn-primary" type="button">
                        Download CSV  <i class="fa fa-file-csv"></i>
                    </a>


{% endif %}
<br>
<table class="table">
  <thead>
    <tr>
      <th>Bar Code ID</th>
      <th>Timestamp</th>
      <th>Production Line</th>
    </tr>
  </thead>
  <tbody>
    {% for barcode in barcodes%}
    <tr>
      <td>{{barcode.id}}</td>
      <td>{{barcode.date_created}}</td>
      <td>{{barcode.production_line}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
