{% extends "base.html" %} {% block head %}
<title>Template</title>
{% endblock %} {% block body %}
<h1>Scan Records</h1>

<a href="{{ url_for('download_csv') }}" style="margin-bottom: 10px; margin-left: 10px;" class="btn btn-primary" type="button">
                        Download Csv  <i class="fa fa-file-csv"></i>
                    </a>
<br>
<table class="table">
  <thead>
    <tr>
      <th>Bar Code ID</th>
      <th>Timestamp</th>
      <th>Production Line</th>
    </tr>
  </thead>
  <tbody>
    {% for barcode in barcodes%}
    <tr>
      <td>{{barcode.id}}</td>
      <td>{{barcode.date_created}}</td>
      <td>{{barcode.production_line}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
